
@font-face {
  font-family: 'AmsiPro-Black';
  src: url('./asset/css/style.css/font/AmsiPro-Black');
}

@font-face {
  font-family: 'AmsiPro-Light';
  src: url('./asset/css/style.css/font/AmsiPro-Light');
}

@font-face {
  font-family: 'AmsiPro-Regular';
  src: url('./asset/css/style.css/font/AmsiPro-Regular');
}

body {
  margin: 20%;
  font-family: "AmsiPro-Light", sans-serif;
}

h1 {
  font-family: AmsiPro-Black, sans-serif;
  align-items: center;
  
}

h2 {
  font-family: "AmsiPro-Regular", sans-serif;
}

h3 {
  font-family: "AmsiPro-Regular", sans-serif;
}

h4 {
  font-family: "AmsiPro-Light", sans-serif;
}



.buscador {
width: 10px;
}

.btn {
  size: 5%;
}

.input-group {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


